@import 'includes/_mixins';
@import 'includes/_globals';
@import 'includes/_core';

// home
.profile-pic-container {
    .pic-wrapper {
        padding: 5px;
        background-color: #efefef;
        width: 200px;
        height: 200px;
        @include border-radius(50%);

        img {
            @include border-radius(50%);
        }
    }
}

.physician-name-qualification {
    .qualification {
        font-size: 10px;
        font-weight: bold;
    }
}

.ask-question-btn-cont {
    .md-button {
        @include border-radius(0);
    }

    > .md-button {
        margin-right: 0px;
        @include top-left-radius(3px);
        @include bottom-left-radius(3px);
    }

    .md-menu .md-button {
        margin-left: 1px;
        @include top-right-radius(3px);
        @include bottom-right-radius(3px);
    }
}
