@import 'includes/_globals';
@import 'includes/_core';

// home
.profile-pic-container {
    .pic-wrapper {
        padding: 5px;
        background-color: #efefef;
        width: 200px;
        height: 200px;
    }
}

.physician-name-qualification {
    .qualification {
        font-size: 10px;
        font-weight: bold;
    }
}

.ask-question-btn-cont {
    .md-button {
    }

    > .md-button {
        margin-right: 0px;
    }

    .md-menu .md-button {
        margin-left: 1px;
    }
}
