@import 'includes/_mixins';
@import 'includes/_globals';
@import 'includes/_core';


.profile-pic-container {
    img {
        @include border-radius(50%);
    }
}

// availability settings
.settings {
    md-list-item {
        border-top: 1px solid #efefef;
        cursor: pointer;

        .day {
            text-transform: capitalize;
        }
    }

    md-list-item:hover {
        background: rgba(0, 0, 0, .08);
    }
}

.answers {
    background-color: rgba(0, 0, 0, .03);
    margin-bottom: 16px;

    .answer {
        margin: 10px 0 5px;
    }
}
