{% extends "includes/layout.html" %}

{% block pageTitle %}Dashboard{% endblock %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('assets.static', filename='css/dashboard.css') }}" />
{% endblock %}

{% block header %}
<div ng-app="QuePhysician" ng-controller="MainCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ui-sref-active="active"><a ui-sref="availabilitySettings">Availability Settings</a></li>
					<li ui-sref-active="active"><a ui-sref="discussions">Discussions</a></li>
					<li ui-sref-active="active"><a ui-sref="videoConsults">Video Consults</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% endblock %}

	{% block content %}
	<div ui-view></div>
</div>
<i style="display: none;" id="_tA">{{ current_user.generate_auth_token() }}</i>
{% endblock %}

{% block morejs %}
<script type="text/javascript" src="{{ url_for('assets.static', filename='bower_components/angular/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='bower_components/angular-messages/angular-messages.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='bower_components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='bower_components/underscore/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='bower_components/restangular/src/restangular.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='bower_components/moment/moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='js/third-party.js') }}"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='js/physician.js') }}"></script>
<script type="text/javascript">
    var physician = {
        id: '{{ current_user.id }}',
        username: '{{ current_user.username }}',
        fullname: '{{ current_user.fullname }}',
        bio: '{{ current_user.bio }}'
    }
</script>
{% endblock %}
