{% extends "includes/layout.html" %}

{% block pageTitle %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('assets.static', filename='css/video.css') }} " />
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}

<div class="main-container">
    <div class="landing-page text-center">
        <div class="physician-img">
            <div class="img-wrapper">
                <img src="{{ physician.profile_pic }}" class="img-responsive" />
            </div>
        </div>
        <div class="physician-info">
            <h4 class="name">{{ physician.fullname }}</h4>
            <p class="qualification">{{ physician.qualification }}</p>
            <p class="bio">{{ physician.bio }}</p>
        </div>
        <ul class="controls">
            <li class="control-item">
                <a class="control" id="place-call">
                    <i class="fa fa-phone fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="vid-remote-feed" class="remote-feed"></div>
    <div id="vid-local-feed" class="local-feed"></div>
    <div class="controls-container">
        <ul class="controls in-call-controls hide">
            <li class="control-item">
                <a class="control" id="mute">
                    <i class="fa fa-microphone-slash fa-2x hide"></i>
                    <i class="fa fa-microphone fa-2x"></i>
                </a>
            </li>
            <li class="control-item">
                <a class="control" id="drop-call">
                    <i class="fa fa-phone fa-2x"></i>
                </a>
            </li>
            <li class="control-item">
                <a class="control" id="video">
                    <i class="fa fa-video-camera fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="incoming-call hide">
        <div class="physician-img">
            <div class="img-wrapper">
                <img src="{{ physician.profile_pic }}" class="img-responsive" />
            </div>
        </div>
        <h4 class="text-center">Incoming call...</h4>
        <ul class="controls">
            <li class="control-item">
                <a class="control" id="reject-call" title="Reject">
                    <i class="fa fa-phone fa-2x"></i>
                </a>
            </li>
            <li class="control-item">
                <a class="control" id="pick-call" title="Accept">
                    <i class="fa fa-phone fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="outgoing-call hide">
        <div class="physician-img">
            <div class="img-wrapper">
                <img src="{{ physician.profile_pic }}" class="img-responsive" />
            </div>
        </div>
        <h4 class="text-center">Contacting...</h4>
        <ul class="controls">
            <li class="control-item">
                <a class="control" id="cancel-call" title="Cancel">
                    <i class="fa fa-phone fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block morejs %}
<script type="text/javascript" src="{{ url_for('assets.static', filename='js/twilio-video.js') }}"></script>
<script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/conversations/v0.13/twilio-conversations.min.js"></script>
<script type="text/javascript" src="{{ url_for('assets.static', filename='js/video.js') }}"></script>
{% endblock %}