<div class="modal fade" id="modal-id" message-modal>
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center">
					<strong>[[ heading ]]</strong>
				</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">[[ message ]]</p>
			</div>
			<div class="modal-footer">
				<p class="text-center">
					<button type="button" class="btn btn-primary ok-btn" ng-click="dismiss()">Ok</button>
				</p>
			</div>
		</div>
	</div>
</div>