<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="client/imgs/favicon.ico">
    <title>Que {% block pageTitle %}{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/site.css" />
    {% endblock %}

    {% block pageCss %}{% endblock %}
</head>

<body>
{% block header %}{% endblock %}

{% block content %}{% endblock %}
</body>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
{% block morejs %}{% endblock %}
</html>
