@import 'includes/_globals';
* {
    // outline: 1px solid red;
}
body {
    background-color: black;
    color: white;
    padding-top: 81px;
}
// physician splash screen
.physician-img {
    .img-wrapper {
        width: 128px;
        height: 128px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #efefef;
        padding: 5px;

        img {
            border-radius: 50%;
        }
    }
}

.physician-info {
    .name {
        font-size: 25px;
    }
}

.outgoing-call {
    z-index: 1000;
}

// video call

#vid-local-feed {
    width: 128px;
    height: 128px;
    position: absolute;
    right: 0;
    bottom: 110px;
    border-radius: 5px;
}

#vid-remote-feed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.controls-container {
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
    width: 100%;
}

.controls  li.control-item {
    display: inline-block;
}

.controls li+li {
    margin-left: 50px;
}

.controls li.control-item > a{
    display: inline-block;
    text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: white;
    padding: 18px 10px;
}

#place-call,
#pick-call {
    background-color: green;
}
#reject-call,
#cancel-call,
#drop-call {
    background-color: red;
}
#video,
#mute {
    background-color: rgb(74, 74, 74);
    color: white;
}

#video.active,
#mute.active {
    background-color: white;
    color: black;
}

#mute.active {
    .fa-microphone-slash {
        display: inline-block !important;
    }

    .fa-microphone {
        display: none;
    }
}