.video-container {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;

    .video-controls {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .video-call-info {
            padding: 10px 0;

            .client-name {
                font-size: 18px;
            }
        }
    }
    .video-section {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
    .video-info-section {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
    }
    #local-media {
        position: absolute;
        right: 15px;
        bottom: 80px;
        width: 100px;
        height: 100px;

        video {
            width: 100%;
            position: absolute;
        }
    }
    #remote-media {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        video {
            height: inherit;
            width: inherit;
            position: absolute;
        }
    }

    .phone-btn {
        display: inline-block;
        padding: 13px;
        background-color: green;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        color: white;
    }

    .end-call-btn {
        background-color: red;
    }
}