<div class="container" ng-init="getQuestions()">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="card">
                <div class="profile-info-container text-center">
                    <div class="profile-pic-container">
                        <div class="pic-wrapper">
                            <img src="[[ physician.profile_pic ]]" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="physician-name-qualification">
                        <div class="name">[[ physician.fullname ]]</div>
                        <div class="qualification">[[ physician.qualification ]]</div>
                    </div>
                    <div class="physician-bio">
                        <p class="text-center">
                            [[ physician.bio ]]
                        </p>
                    </div>
                </div>
                <div class="ask-question-btn-cont text-center">
                    <button class="btn btn-primary" ui-sref="questions">
                        Ask me a question
                    </button>
                    <button class="btn btn-primary" ui-sref="consultations">
                        Consultations
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
