<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="card">
                <h4><i class="fa fa-question primary-color"></i>&nbsp;&nbsp;Ask a question</h4>
                <form name="questionForm" novalidate>
                    <div class="form-inputs">
                        <div class="form-group">
                            <label  for="fullname">Fullname</label>
                            <input class="form-control" type="text" id="fullname" name="fullName"
                                   ng-model="question.fullname" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label  for="phone-number">Phone Number</label>
                            <input class="form-control" type="text" id="phone-number" name="phoneNumber"
                                   ng-model="question.phone_number" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <label  for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email"
                                   ng-model="question.email" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <label  for="question">Your question</label>
                        <textarea class="form-control" type="text" rows= "1" id="question" name="question"
                                  ng-model="question.question" ng-required="true"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary"
                            ng-disabled="asking || questionForm.$invalid" ng-click="askQuestion()">
                        <span ng-show="!asking">Ask</span>
                        <span ng-show="asking">Asking...</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
