<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="card">
                <p>[[ selectedQuestion.question ]]</p>
                <div class="question-info">
                    <p><i class="fa fa-user"></i>&nbsp;[[ selectedQuestion.fullname ]]</p>
                    <p><i class="fa fa-clock-o"></i>&nbsp;[[ selectedQuestion.date_asked | date ]]</p>
                </div>
            </div>
            <div class="card responses-container">
                <h4>Responses</h4>
                <hr/>
                <loading ng-show="gettingAnswers" class="text-center"></loading>
                <div class="text-center" ng-show="answers.length == 0">
                    <h4>No answers yet.</h4>
                </div>
                <ul class="list-group responses">
                    <li class="list-group-item" ng-repeat="answer in answers">
                        <div class="media">
                        	<div class="media-left">
                        		<img class="media-object" ng-src="[[ current_user.profile_pic ]]"
                                     alt="[[ current_user.fullname ]]" ng-if="answer.entered_by == 'physician'">
                                <div class="media-object" ng-show="answer.entered_by == 'client'"></div>
                        	</div>
                        	<div class="media-body">
                                <h5>[[ current_user.fullname ]]</h5>
                                <div class="answer-info">
                                    <p><i class="fa fa-clock-o"></i>&nbsp;[[ answer.date_answered | date ]]</p>
                                </div>
                        		<p>[[ answer.answer ]]</p>
                        	</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card answer-form-container">
                <form name="answerForm">
                    <div class="form-group">
                        <label for="response">Response</label>
                        <textarea class="form-control" id="response" ng-model="answer.answer" ng-required="true"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="answerQuestion()"
                            ng-disabled="answerForm.$invalid">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>