<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col mdl-color--white mdl-shadow--2dp">
        <div class="que-content">
            <form novalidate>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="old-password">
                    <label class="mdl-textfield__label" for="old-password">Old Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="new-password">
                    <label class="mdl-textfield__label" for="new-password">New Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="confirm-password">
                    <label class="mdl-textfield__label" for="confirm-password">Confirm Password</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Reset
                </button>
            </form>
        </div>
    </div>
</div>