<div class="container" ng-init="getConsults()">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover video-consults">
                        <tbody>
                        <tr ng-repeat="consult in videoConsults">
                            <td>[[ consult.fullname ]]</td>
                            <td>[[ consult.email ]]</td>
                            <td>[[ consult.date_chosen | date ]]</td>
                            <td>
                                <a class="call-btn" title="Call" ng-click="placeCall('clientb')">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="cancel-btn" title="Cancel appointment">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <h4 ng-if="videoConsults.length == 0">No video appointments yet.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
