.sitenav {
    position: fixed;
    top: 0;
    z-index: 22;
}

.site-sidebar {
    width: 272px;
    min-width: 272px;
    max-width: 272px;

    .que-menu {
        .sub-menu {
            li a {
                padding-left: 25px;
            }
        }
        li .menu-heading {
            padding: 5px 16px;
            margin: 0;
            color: #999;
        }
        li a {
            text-decoration: none;
            text-transform: capitalize;
        }

        .md-button {
            border-radius: 0;
            color: black;
            cursor: pointer;
            display: block;
            align-items: inherit;
            line-height: 40px;
            margin: 0;
            max-height: 40px;
            overflow: hidden;
            padding: 0px 16px;
            text-align: left;
            text-decoration: none;
            white-space: normal;
            width: 100%;
        }

        li.active a {
            background-color: rgba(0, 0, 0, .2);
            font-weight: bold;
        }

        li a:hover {
            background-color: rgba(0,0,0, .1);
        }
    }
}

// dialog
.dialog {
    min-width: 60%;

    .date-asked,
    .date-answered {
        font-size: .9em;
        color: #999;
    }
}
.main-container {
    padding-top: 64px;
}