<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="saveSettingError">
            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            	<strong>Error!</strong> [[ saveSettingError ]]
            </div>
            <div class="availability-settings content">
                <loading class="text-center" ng-show="gettingSettings"></loading>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
                        on-event="shown.bs.collapse" callback="getHours()">
                    <div class="panel" ng-repeat="setting in availabilitySettings">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#[[ setting.day ]]"
                                   aria-expanded="false" aria-controls="[[ setting.day ]]">
                                    <span class="pull-left">[[ setting.day ]]</span>
                                <span class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                                    <div class="clearfix"></div>
                                </a>
                            </h4>
                        </div>
                        <div id="[[ setting.day ]]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Select times on [[ setting.day ]] you think you'll be most available.</p>
                                <loading class="text-center" ng-show="gettingHours"></loading>
                                <ul class="list-group">
                                    <li ng-repeat="hour in hours" class="list-group-item">
                                        <label for="[[ setting.day ]][[ hour.id ]]">
                                            <span class="pull-left">[[ hour.title ]]</span>
                                            <input type="checkbox" id="[[ setting.day ]][[ hour.id ]]"
                                                   ng-checked="exists(setting, hour.id)"
                                                   ng-click="toggleHour(setting, hour.id)" class="pull-right" />
                                            <div class="clearfix"></div>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                        <label for="repeatWeekly[[ $index ]]">
                                            Repeat weekly
                                            <input type="checkbox" id="repeatWeekly[[ $index ]]" ng-checked="setting.repeat_weekly"
                                                   ng-click="toggleRepeatWeekly(setting)" />
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<saving-toast ng-show="savingSettings"></saving-toast>
