<div class="card" ng-init="getQuestions()">
    <ul class="questions">
        <li ng-repeat="question in questions" ng-click="viewDiscussion(ev, discussion)">
            <p> [[ question.fullname ]] </p>
            <p> [[ question.question ]] </p>
            <p> [[ question.date_asked | date ]] </p>
        </li>
    </ul>
    <div class="text-center">
        <h4 ng-if="questionGetErr">[[ questionsGetErr ]]</h4>
        <h4 ng-if="questions.length == 0">No questions for now.</h4>
    </div>
    <div class="progress-container text-center" ng-show="gettingDiscussions">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
</div>
